@import 'variables.css';
@import 'fonts.css';

*{
  font-family: "nittiGrotReg" !important;
}

.navbar__link--active{
  color: var(--ifm-color-secondary);
}

.navbar__item:hover{
  color: var(--ifm-color-secondary);
}

.navbar__link:hover{
  color: var(--ifm-color-secondary);
}

.hero__subtitle{
  color: var(--ifm-color-secondary);
}

.footer, .footer--dark{
  background-color: var(--ifm-color-primary);  
  color: var(--ifm-color-text);
}

.footer__link-item{
  color: var(--ifm-color-text);
}

.footer__link-item:hover{
  color: var(--ifm-color-secondary);
}

.row{  
  justify-content: center;
}