.features {
  display: flex;  
  justify-content: center; 
  width: 100%; 
  padding-top: 1rem;  
  background-color: var(--ifm-color-secondary);
}

.featureGif {
  height: auto;
  width: 100%;
  /* top left and right border radius 40px */
  border-radius: 40px 40px 0 0;
}

.optionCard {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--ifm-color-secondary-light);  
  border-radius: 40px;

  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 1rem;
  
  /* margin: 0rem 7rem 2rem 7rem;  */
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

@media only screen and (min-width: 1050px) {
  .optionCard {
    margin-left: 7rem;
    margin-right: 7rem;
    margin-bottom: 7rem;
  }
}

.optionCard p{
    color: var(--ifm-color-text);
}

.optionCard a{
  text-decoration: none;
}
